<%- include('partials/header') %>

<body class="container">
 <h1 class="pt-3 pb-3">Compose</h1>

 <form action="#" method="post">
  <input type="text" name="message">
  <button type="submit">publish</button>
 </form>
</body>

<%- include('partials/footer') %>